h3 UNITS: {{dataUnit.name}}
p j'ai {{dataUnit.amount}} {{dataUnit.name}}
p production par seconde {{dataUnit.amount*dataUnit.productionBase*dataUnit.productionMultiplier}}

button("(click)"="buy(1)") Buy 1
