h3 UNITS: {{dataUnit.name}}
p J'ai {{dataUnit.amount}} {{dataUnit.name}}
p Production: {{dataUnit.produce()}} {{itemProduced()}} par seconde

button("(click)"="buy(1)" "[disabled]"="!canBuy(1)") Buy 1 : cost {{dataUnit.costNBuy(1)}}
button("(click)"="buy(10)" "[disabled]"="!canBuy(10)") Buy 10 : cost {{dataUnit.costNBuy(10)}}
button("(click)"="buy(100)" "*ngIf"="canBuy(100)") Buy 100: cost {{dataUnit.costNBuy(100)}}
